In [89]:
import pandas as pd
import json
import numpy as np
import os

js = json.loads('releases.json')

In [30]:
releases = pd.DataFrame(columns={'project','release','release_date'})

In [3]:
with open('releases.json') as f:
    lines = f.readlines()

In [17]:
combined = ''
for i in lines:
    combined = combined+(i.strip('\n'))

In [21]:
js = json.loads(combined)

In [33]:
for i,j in js.items():
    for k,l in j.items():
        releases = releases.append({'project':i,'release':k,'release_date':l},ignore_index=True)

In [38]:
releases = releases.sort_values(['project','release_date']).reset_index(drop=True)

In [52]:
releases['release_date']=pd.to_datetime(releases['release_date'])

In [71]:
releases['delta'] = releases.groupby('project')['release_date'].diff().fillna(pd.Timedelta(seconds=0))

In [84]:
releases_gp = releases.groupby('project').agg({'release':'count','delta':'sum'}).reset_index()
releases_gp['av_delta'] = (releases_gp['delta']/releases_gp['release']) / np.timedelta64(1, 'D')

In [85]:
releases_gp

         project  release    delta   av_delta
0       accumulo        3 172 days  57.333333
1       activemq       29 473 days  16.310345
2       airavata        1   0 days   0.000000
3        airflow      147 271 days   1.843537
4         allura        1   0 days   0.000000
..           ...      ...      ...        ...
221       xerces       10   0 days   0.000000
222  xmlgraphics        4   0 days   0.000000
223        yetus        4 156 days  39.000000
224     zeppelin        5 410 days  82.000000
225    zookeeper        3  88 days  29.333333

[226 rows x 4 columns]

In [106]:
repo = pd.read_csv('repo_data.csv')

In [113]:
repo = repo.rename(columns={'Repo Name':'project'})

In [118]:
repo = repo.sort_values(['project']).reset_index(drop=True)

In [122]:
releases_gp = releases_gp.sort_values(['project']).reset_index(drop=True)

In [125]:
repo=repo.merge(releases_gp, how='left',on='project')

In [133]:
repo[~repo['release'].isna()].reset_index(drop=True).to_csv('repo_release_matched.csv')

In [131]:
releases_gp[100:150]

                   project  release    delta    av_delta
100     incubator-nlpcraft        3 250 days   83.333333
101        incubator-nuttx        6 168 days   28.000000
102    incubator-pagespeed        2   0 days    0.000000
103      incubator-pegasus        2 209 days  104.500000
104     incubator-ponymail        2   0 days    0.000000
105       incubator-sedona        3 242 days   80.666667
106       incubator-shenyu        1   0 days    0.000000
107         incubator-spot        1   0 days    0.000000
108  incubator-streampipes        4   0 days    0.000000
109     incubator-teaclave        4 317 days   79.250000
110        incubator-toree        2   0 days    0.000000
111     incubator-training        1   0 days    0.000000
112       incubator-tuweni        1   0 days    0.000000
113     incubator-yunikorn        2   0 days    0.000000
114                  iotdb        6 386 days   64.333333
115                   isis        2 415 days  207.500000
116             jackrabbit       21 487 days   23.190476
117                  james       11 447 days   40.636364
118                jclouds        8 184 days   23.000000
119                   jena        1   0 days    0.000000
120                 jmeter        5 201 days   40.200000
121                johnzon        4 482 days  120.500000
122                jspwiki        1   0 days    0.000000
123                  juddi        1   0 days    0.000000
124                 juneau        6  88 days   14.666667
125                  kafka       12 153 days   12.750000
126                  karaf       15 437 days   29.133333
127                   knox       10 488 days   48.800000
128                   kudu        5 353 days   70.600000
129                  kylin        3 204 days   68.000000
130               libcloud        1   0 days    0.000000
131                logging       14 492 days   35.142857
132                 lucene        7 466 days   66.571429
133              lucenenet       14 483 days   34.500000
134                 madlib        1   0 days    0.000000
135                 mahout       10  93 days    9.300000
136             manifoldcf       15 448 days   29.866667
137                  maven       89 489 days    5.494382
138                  mesos        4 144 days   36.000000
139                   mina       10 478 days   47.800000
140               mnemonic        8 473 days   59.125000
141                myfaces       39 396 days   10.153846
142                 mynewt        5   0 days    0.000000
143               netbeans      812 468 days    0.576355
144                   nifi        5 485 days   97.000000
145                  nutch        2 202 days  101.000000
146                  ofbiz        2  80 days   40.000000
147                 olingo       18 174 days    9.666667
148                   oodt        1   0 days    0.000000
149                  oozie        1   0 days    0.000000